* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #aedaa6;
  font-family: "Raleway", sans-serif;
}

.container {
  position: absolute;
  background: white;
  height: 58%;
  width: 55%;
  top: 20%;
  left: 20%;
  box-shadow: 5px 5px 5px grey;
  transition: 400ms;
}

.content {
  position: absolute;
  padding-left: 50%;
  top: 10%;
  padding-right: 10px ;
}

.image {
  height: 100%;
  padding-left: 5%;
  padding-top: 5%;
  border-right: 1px solid grey;
  width: 45%;
}

.btns {
  padding-top: 14%;
  padding-left: 5%;
  
}

.btn-l {
  margin-right: 10%;
}

.btn-l, 
.btn-r {
  padding: 2% 5%;
  background: none;
  border: 1px solid rgba(128, 128, 128, 0.637);
  text-transform: uppercase;
}

.price {
  font-size: 2rem;
  padding-top: 5%;
  padding-bottom: 5%;
}

.container:hover{
  transform: scale(1.1);
}