:root {
  --background-color: #fafafc;
  --font-family-general: "Poppins", sans-serif;
  --white: white;
  --grey: grey;
  --grey-2: #d0d0d0;
  --font-size-content: 14px;
  --font-size-title: 23px;
}
