@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
:root {
  --background-color: #eee3c8;
  --font-family-content: "Playfair Display", serif;
  --font-family-subtitle: "Lora", serif;
  --color-black: black;
}
