* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 300px;
  width: 250px;
  margin: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 15px;
  background: var(--background-card-color);
  font-family: var(--font-family);
}

.container img {
  margin: 35px 5px 20px 5px;
  border-radius: 100%;
  border: 1px dotted var(--border-color);
}

.container h1 {
  font-weight: 400;
}
.container p {
  margin: 5px 0 0 0;
}
